@model HairSalonApp.Models.Appointment


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4>Wybierz fryzjera</h4>
    <div class="stylists">
        @foreach (var hairdresser in (List<ApplicationUser>)ViewBag.Hairdressers)
        {
        <div class="stylist" onclick="selectHairdresser('@hairdresser.Id', this)">
            <img src="@(string.IsNullOrEmpty(@hairdresser.ProfilePicturePath) ? "/images/blank_profile.png" : @hairdresser.ProfilePicturePath)" alt="@hairdresser.Firstname" />
            <p>@hairdresser.Firstname</p>
            </div>
        }
    </div>
    <hr />

    <div class="month">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li id="monthLabel">
                <span id="monthText" style="font-size:18px"></span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Pon.</li>
        <li>Wt.</li>
        <li>Śr.</li>
        <li>Czw.</li>
        <li>Pt.</li>
        <li class="taken">Sob.</li>
        <li class="taken">Niedz.</li>
    </ul>

    <ul class="days disabled"></ul>

    <ul class="hours disabled">
        <li>10:00</li>
        <li>11:00</li>
        <li>12:00</li>
        <li>13:00</li>
        <li>14:00</li>
        <li>15:00</li>
        <li>16:00</li>
        <li>17:00</li>
        <li>18:00</li>
    </ul>
    <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
    <input type="hidden" id="SelectedHairdresserId" name="HairdresserId" asp-for="HairdresserId" class="form-control" asp-items="ViewBag.HairdresserId" />
    
    <input type="hidden" asp-for="AppointmentDate" class="form-control" />
    <input type="hidden" id="SelectedServiceId" name="ServiceId" />
    <br />
    <div class="form-group">
        <label asp-for="ServiceId" class="control-label">Usługa</label> <br />
        <select asp-for="ServiceId" class="select-service" asp-items="ViewBag.ServiceId">
            <option disabled selected="selected">Wybierz usługe</option>
        </select>
    </div>
    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    <div class="form-group">
        <input type="submit" value="Zapisz się" class="btn btn-primary" />
    </div>
